.mask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 100px 30px 100px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-container {
  max-width: 600px;
  box-shadow: 0px 1px 2px rgba(100, 100, 100, 0.5);
  border-radius: 5px;
  overflow: hidden;
  background-color: white;
}


.modal-header {
  position: relative;
  height: 30px;
  box-shadow: 0px 1px 2px rgba(100, 100, 100, 0.466);
  padding: 8px 8px 8px 8px;
  display: flex;
  align-items: center;
  justify-content: center;

  .modal-header-text {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: rgb(75,75,75);
  }

  .modal-header-close {
    height: 30px;
    width: 35px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 8px;
    right: 8px;

    input {
      border-radius: 50%;
      background-color: white;
      box-shadow: 0px 1px 2px rgba(100, 100, 100, 0.5);
    }
  }
}

.modal-body {
  position: relative;
  padding: 8px 5px 8px 5px;
  display: flex;
  justify-content: center;
}

.color-items-container {
  width: 280px;
  display: flex;
  flex-wrap: wrap;
}

.color-item {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin: 5px;
  box-shadow: 0px 1px 2px rgba(100, 100, 100, 0.466);
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: rgb(75,75,75);
}