
@import '../../../../sass-variables';
$navigation-bar-height: 40px;

.navigation-bar-container {
  display: flex;
  width: 100%;
  height: $navigation-bar-height;
  background-color: white;
  box-shadow: 0px 3px 2px rgba(100, 100, 100, 0.466);
}

.nav-bar-text-container {
  flex-grow: 1;
  padding: 0px 0px 0px 0px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

#nav-title {
  width: 100%;
  font-family: 'Source Sans Pro';
  font-size: 24px;
  font-weight: 700;
  color: rgb(75,75,75);
  text-align: center;
}

@media only screen and (min-width : $tablet-min-width-breakpoint){
 
}

@media only screen  and (min-width : $desktop-min-width-breakpoint) {

}