

.main-container {
  height: 100%;
  width: 100%;
}

.resistor-wrapper {
  width: 100%;
  // background-color: blue;
  display: flex;
  justify-content: center;
  margin: 30px 0px 0px 0px;
}

.resistance-value-wrapper {
  margin: 20px 0px 0px 0px;
  display: flex;
  justify-content: center;

  .resistance-value-text {
    font-family: 'Source+Sans+Pro';
    font-size: 24px;
    font-weight: 700;
    color: rgb(75,75,75);
    text-align: center;
  }
}