
$bandMargin: 30px;
$toleranceBandMargin: 75px;

.resistor-body {
  width: 300px;
  height: 100px;
  border-radius: 15px;
  background-color: peachpuff;
  display: flex;

  input {
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0px;
  }
}

.band {
  width: 20px;
  height: 100%;
}

#band-a {
  margin: 0px 0px 0px $bandMargin;
}

#band-b {
  margin: 0px 0px 0px $bandMargin;
}

#band-c {
  margin: 0px 0px 0px $bandMargin;
}

#band-d {
  margin: 0px 0px 0px $toleranceBandMargin;
}